
/* General rules CSS ---------------------- */
body {
	font-family: 'Rye', cursive;
	background-color: rgba(169, 206, 214, 0.987);
}

h1 { 
	margin-top: 100px;
	margin-bottom: 50px;
	font-size: 3em;
	text-align: center;
}



/* Inflate-Unicorn CSS ----------------- */
.container{
    text-align: center;
}

.inflate-an-image{
    display: inline-block;
    width: 400px;
    height: 400px;
    margin: 5px;
}

/* Dress-the-Clown CSS --------------- */
.dress-a-parent {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative;
  top: 0;
  left: 0;
}

.dress-an-image {
  position: absolute;
  top: 0px;
  left: 0px;
}

.head {
  z-index: 2
}

.body {
  z-index: 0
}

.shoes {
  z-index: 1
}


/* wack mole CSS --------------------- */
table {
  margin-right: center;
  margin-left: center;
  margin: 0 auto;
  box-shadow: 7px 7px 15px #000;

}

td {
  background-color: #fff;
  height: 85px;
  width: 85px;
  box-shadow: 7px 7px 15px #000;
}

.audio  {
  display: flex;
  margin: auto;
  padding: 30px;
}


.mole {
  content: url('./whack-a-mole/mole.PNG');
  width: 85px;
  height: 85px;
 
}

.displayScore {
  background-color: #fff;
  color: rgb(92, 68, 52);
  display: flex;
  width: 400px;
  justify-content: space-between;
  padding: 10px;
  border-radius: 30px;
  margin: auto;
  box-shadow: 5px 5px 10px #000;
  text-shadow: 1px 1px 2px rgba(216, 125, 6, 0.573);
  letter-spacing: 1px;
}

#restartButton {
  display: flex;
  box-shadow: 5px 5px 10px #000;
  text-shadow: 1px 1px 2px rgba(216, 125, 6, 0.573);
  width: 150px;
  padding: 10px;
  border-radius: 30px;
  background-color: #fff;
  color: rgb(92, 68, 52);
  font-size: 25px;
  font-weight: bold;
  letter-spacing: .5px;
  margin: auto;
  justify-content: center;
  margin-top: 40px;
}

#restartButton:hover {
  background-color:  rgba(56, 54, 54, 0.768);
  box-shadow: 5px 5px 10px rgb(96, 70, 45);
  text-shadow: 1px 1px 2px rgba(184, 181, 176, 0.573);
  color: #fff;
  font-size: 24px;
  transition: .8s;
}
